<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My App</title>

    <link href="~/content/styles/bootstrap.min.css" rel="stylesheet">
    <link href="~/content/yellowing/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content" style="margin-top: 4em;">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My App</p>
        </footer>
    </div>

    <script src="~/content/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/content/scripts/bootstrap.min.js"></script>
    <script src="~/content/scripts/app-form.js"></script>
    <script src="~/content/scripts/app-paginable.js"></script>
    <script src="~/content/scripts/app-filterable.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>